* {
  box-sizing: border-box;
}
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;  
      margin: 10px;
      padding: 0;
      border: 3px solid black;
        background-color: gray;
        text-align: center;
    }
    .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        border: 3px solid black;
        margin: 5px;
        background-color: gray;
        position: relative;
    }
    .col-md-1 {
        width: 8.33%;
      }
      .col-md-2 {
        width: 16.66%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-5 {
        width: 41.66%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-8 {
        width: 66.66%;
      }
      .col-md-9 {
        width: 74.99%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-11 {
        width: 91.66%;
      }
      .col-md-12 {
        width: 100%;
      }
}
@media (max-width: 767px) {
    .col-sl-1, .col-sl-2, .col-sl-3, .col-sl-4, .col-sl-5, .col-sl-6, .col-sl-7, .col-sl-8, .col-sl-9, .col-sl-10, .col-sl-11, .col-sl-12 {
        float: left;
        border: 3px solid black;
        margin: 5px;
        background-color: gray;
        position: relative;
    }
    .col-sl-1 {
        width: 8.33%;
      }
      .col-sl-2 {
        width: 16.66%;
      }
      .col-sl-3 {
        width: 25%;
      }
      .col-sl-4 {
        width: 33.33%;
      }
      .col-sl-5 {
        width: 41.66%;
      }
      .col-sl-6 {
        width: 50%;
      }
      .col-sl-7 {
        width: 58.33%;
      }
      .col-sl-8 {
        width: 66.66%;
      }
      .col-sl-9 {
        width: 74.99%;
      }
      .col-sl-10 {
        width: 83.33%;
      }
      .col-sl-11 {
        width: 91.66%;
      }
      .col-sl-12 {
        width: 100%;
      }
}
html, body {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  color: black;
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.relative {
  position: relative;
}
h4 {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 5px 20px 5px 20px;
  border: 3px solid black ;
  float: inline-end;
}
#h1 {
  background-color: pink;
}
#h2 {
  background-color: red;
}
#h3 {
  background-color: yellow;
}
p {
  color: black;
  text-align: center;
  padding-top: 26px;
}
div {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
